$bcgColor: #2F3640;
$primary: #353B48;
$btnColor: #9b59b6;
$btnColor--success: #05C46B;
$basic: white;
$hoverColor: #777C82;
$inputRadius: 3px;
$BtnRadius: 20px;
$sectionRadius: 10px;
$userBorderColor: #292E36;

$howerBcg: #15171bd7;


